<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">

	<!-- Declare servlet -->
	<servlet>
		<!-- Specify alias name for the servlet in <servlet-name> tag -->
		<servlet-name>Hello World Servlet</servlet-name>
		<!-- Qualified path of the servlet class in <servlet-class> tag -->
		<servlet-class>log4j2.jsample.servlet.HelloWorld</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Hello World Servlet</servlet-name>
		<!-- URL pattern at which this servlet will be invoked -->
		<url-pattern>/</url-pattern>
	</servlet-mapping>

</web-app>